body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.box {
    margin: 20px auto;
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}
input[type="number"], input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
#amount {
    width: 85%;
}
.date-input {
    display: flex;
    justify-content: space-between;
}
.date-field {
    width: 30%;
}
.year-input {
    width: 100%;
}
.button {
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#result {
    margin-top: 10px;
    font-weight: bold;
    white-space: pre-wrap;
    color: red;
}
.box-heading {
    background-color: transparent;
    padding: 10px;
    color: #007BFF;
    width: 150px;
    font-weight: bold;
    margin: 0 auto;
}
#resetButton {
position: absolute;
top: 10px; /* Adjust as needed to position it above Section1 */
left: calc(50% - 170px); /* Positions it 90px left from center */
font-size: 50px;
background: none;
border: none;

}
#interest-box {
    background-color: transparent;
    padding: 10px;
    color: #007BFF;
    width: 150px;
    font-weight: bold;
    margin: 0 auto;
}
#calculateButton {
    background-color: #007BFF;
}
#options {
    margin-top: 20px;
    display: none;
}
.option-button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.option-button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
hr {
    border: 1px solid black;
    margin: 20px 0;
}
.larger-button {
    padding: 20px 40px;
    font-size: 18px;
}
#resultSection {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0 auto;
    width: 300px; /* Adjusted width to match section1 */
    border-radius: 5px;
    display: none;
    height: 50vh;

}
.total-amount {
    font-size: 22px;
    font-weight: bold;
}

#watermark {
position: relative;
top: 10px; /* Adjust the top margin as needed */
text-align: center;
color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
font-size: 18px; /* Adjust the font size as needed */
font-weight: bold; /* Make the text bold */
}